<nav class="navbar ">
  <div class="container-fluid">
    <div class="d-flex align-items-center">
      <a class="navbar-brand d-flex justify-content-center align-items-center" href="/home">
        <img src="./../../../assets/icon.png" alt="Logo" width="60" height="60" class="d-inline-block align-text-top">
        <span class="ms-2 text-white"></span>
      </a>
      <div class="dropdown ">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Repartidor
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" routerLink="/repartidor/alta">Alta</a></li>
          <li><a class="dropdown-item" routerLink="/repartidor/detalle">Detalle</a></li>
        </ul>
      </div>
      <div class="dropdown ms-3">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Pizzas
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" routerLink="/pizza/abm">ABM</a></li>
        </ul>
      </div>
    </div>

    <ng-container *ngIf="showButtons">
      <div *ngIf="usuario" class="dropdown-center  ">
        <button class="btn btn-lg dropdown-toggle text-light" type="button" data-bs-toggle="dropdown"
          aria-expanded="false ">
          {{usuario.email}}
        </button>
        <ul class="dropdown-menu w-100">
          <li class="p-2">
            <b>Perfil: </b>
            <span>{{userProfile[usuario.profile]}}</span>
          </li>
          <li class="p-2">
            <button class="btn text-light w-100 bg-danger" (click)="loguot()">Cerrar Sesión</button>
          </li>
        </ul>
      </div>

      <div *ngIf="!usuario">
        <a routerLink="/login">
          <button class="btn btn-primary">Iniciar Sesión</button>
        </a>
      </div>
    </ng-container>

  </div>
</nav>